In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw_data.csv")
display(df.head(3))
display(df.columns)

,StartDate,EndDate,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,...,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21
0,Start Date,End Date,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,...,Who did you vote for President,Were you excited to vote for your presidential...,How confident are you that your Rhode Island p...,How confident are you in the ability of local ...,How confident are you that the results of the ...,Where do you primarily get your information ab...,Why did you choose to vote in-person on electi...,Would you support Rhode Island implementing sa...,Would you support Rhode Island implementing ra...,NaN
1,11/12/2024 18:19:16,11/12/2024 18:21:01,100,104,True,11/12/2024 18:21:02,R_7LvyIKEDwhcpXXd,NaN,NaN,NaN,...,Kamala Harris,Somewhat Excited,Somewhat Confident,Somewhat Confident,Very Confident,NaN,Today was the best option for my schedule,Definitely,I would need more information to make a decision,NaN
2,11/12/2024 18:19:22,11/12/2024 18:21:06,100,103,True,11/12/2024 18:21:06,R_3obsi8B2j0maSsH,NaN,NaN,NaN,...,Kamala Harris,Extremely Excited,Not at All Confident,Somewhat Confident,NaN,NaN,NaN,Definitely,Definitely,NaN

Index(['StartDate', 'EndDate', 'Progress', 'Duration (in seconds)', 'Finished',
       'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName',
       'RecipientEmail', 'ExternalReference', 'LocationLatitude',
       'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'Q1', 'Q2',
       'Q3', 'Q4', 'Q5', 'Q6', 'Unnamed: 21', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21'],
      dtype='object')

In [3]:
df.iloc[:,14:].head()

,UserLanguage,Q1,Q2,Q3,Q4,Q5,Q6,Unnamed: 21,Q7,Q8,...,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21
0,User Language,Which ward is this survey from?,What is your age group?,What is your gender identity?,What is your marital status?,With what ethnicity or race(s) do you most ide...,What is your religious affiliation? - Selected...,What is your religious affiliation? - Other - ...,What is your highest level of education?,What is your annual household income?,...,Who did you vote for President,Were you excited to vote for your presidential...,How confident are you that your Rhode Island p...,How confident are you in the ability of local ...,How confident are you that the results of the ...,Where do you primarily get your information ab...,Why did you choose to vote in-person on electi...,Would you support Rhode Island implementing sa...,Would you support Rhode Island implementing ra...,NaN
1,EN,5,30-39,Female,Not married,"Black or African American,American Indian or A...",Protestant / Other Christian Denomination,NaN,4 year degree,"$30,000-$49,999",...,Kamala Harris,Somewhat Excited,Somewhat Confident,Somewhat Confident,Very Confident,NaN,Today was the best option for my schedule,Definitely,I would need more information to make a decision,NaN
2,EN,15,30-39,Male,Not married,NaN,NaN,NaN,4 year degree,"$30,000-$49,999",...,Kamala Harris,Extremely Excited,Not at All Confident,Somewhat Confident,NaN,NaN,NaN,Definitely,Definitely,NaN
3,EN,9,40-49,Male,Not married,Asian,NaN,NaN,Professional degree,"$100,000-$199,999",...,Other,Not Very Excited,Somewhat Confident,Somewhat Confident,Not Very Confident,"Rhode Island Secretary of State's Website,Soci...",I wanted to wait to learn more about the candi...,Definitely,Definitely,NaN
4,EN,1,18-24,Male,Not married,Asian,NaN,NaN,Some college,"$100,000-$199,999",...,Kamala Harris,Not Very Excited,Not Very Confident,Very Confident,Somewhat Confident,Friends/Family,"I prefer voting on election day,I forgot to vo...",Definitely,Probably Not,NaN

The first row contains the actual question text. Let's create a mapping between the column and the question text, and then drop the first row. We may want to reference it later.

In [5]:
question_columns = list(df.iloc[:,14:-1].columns)
question_text = df.iloc[0,14:-1].values
question_mapping = dict(zip(question_columns, question_text))
question_mapping

{'UserLanguage': 'User Language',
 'Q1': 'Which ward is this survey from?',
 'Q2': 'What is your age group?',
 'Q3': 'What is your gender identity?',
 'Q4': 'What is your marital status?',
 'Q5': 'With what ethnicity or race(s) do you most identify? (Check all that apply)',
 'Q6': 'What is your religious affiliation? - Selected Choice',
 'Unnamed: 21': 'What is your religious affiliation? - Other - Text',
 'Q7': 'What is your highest level of education?',
 'Q8': 'What is your annual household income?',
 'Q9': 'How would you describe your political affiliation?',
 'Q10': 'Overall, do you feel that the country is heading in the right direction or the wrong direction?',
 'Q11': 'Overall, do you feel that Rhode Island is heading in the right direction or the wrong direction?',
 'Q12': 'Who did you vote for President',
 'Q13': 'Were you excited to vote for your presidential candidate?',
 'Q14': 'How confident are you that your Rhode Island politicians care about you?',
 'Q15': 'How confident are you in the ability of local voting officials to manage elections fairly and accurately?',
 'Q16': 'How confident are you that the results of the national presidential election will accurately reflect the votes cast?',
 'Q17': 'Where do you primarily get your information about voting options, such as precinct locations, voting times, early voting, and mail-in ballot options? (Select all that apply)',
 'Q18': 'Why did you choose to vote in-person on election day? (Select all that apply)',
 'Q19': 'Would you support Rhode Island implementing same day voter registration, allowing unregistered voters to both register and vote on election day?',
 'Q20': 'Would you support Rhode Island implementing ranked choice voting? This would allow voters to rank candidates in order of preference.'}

In [6]:
import json
with open('../data/question_mapping.json', 'w') as f:
    json.dump(question_mapping, f)

Data Cleaning and Preprocessing. We need to get the data where it looks like:

ward | feature_1_value_1 | feature_1_value_2 | ... | feature_2_value_1 | ...

1    | 35%               | 45%               | ... | 70%               | ...

So we first have to encode all the columns, and then aggregate them by ward to reach the desired state before we can it with our GIS data.

But does this mean we have to categorically encode all the features, even the ordinal ones?

In [9]:
# Drop columns and first row
df = df.iloc[:,14:-1]
df = df.drop(0).reset_index()
df = df.rename(columns={"Unnamed: 21":"Q6_other"})

In [10]:
display(df.iloc[:,:10].head())
display(df.iloc[:,10:].head())

,index,UserLanguage,Q1,Q2,Q3,Q4,Q5,Q6,Q6_other,Q7
0,1,EN,5,30-39,Female,Not married,"Black or African American,American Indian or A...",Protestant / Other Christian Denomination,NaN,4 year degree
1,2,EN,15,30-39,Male,Not married,NaN,NaN,NaN,4 year degree
2,3,EN,9,40-49,Male,Not married,Asian,NaN,NaN,Professional degree
3,4,EN,1,18-24,Male,Not married,Asian,NaN,NaN,Some college
4,5,EN,3,18-24,Female,Not married,Hispanic or Latino/a,NaN,NaN,Some college

,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20
0,"$30,000-$49,999",Democrat,Unsure,Somewhat Right,Kamala Harris,Somewhat Excited,Somewhat Confident,Somewhat Confident,Very Confident,NaN,Today was the best option for my schedule,Definitely,I would need more information to make a decision
1,"$30,000-$49,999",Democrat,Definitely Right,Somewhat Wrong,Kamala Harris,Extremely Excited,Not at All Confident,Somewhat Confident,NaN,NaN,NaN,Definitely,Definitely
2,"$100,000-$199,999",Independent,Definitely Wrong,Somewhat Right,Other,Not Very Excited,Somewhat Confident,Somewhat Confident,Not Very Confident,"Rhode Island Secretary of State's Website,Soci...",I wanted to wait to learn more about the candi...,Definitely,Definitely
3,"$100,000-$199,999",Independent,Somewhat Right,Somewhat Right,Kamala Harris,Not Very Excited,Not Very Confident,Very Confident,Somewhat Confident,Friends/Family,"I prefer voting on election day,I forgot to vo...",Definitely,Probably Not
4,"Less than $30,000",Democrat,Definitely Wrong,Somewhat Right,Kamala Harris,Somewhat Excited,Somewhat Confident,Very Confident,Somewhat Confident,"Rhode Island Secretary of State's Website,Soci...","I prefer voting on election day,I forgot to vo...",Definitely,Probably

Let's zero in on the Q6 and Q6 other questions because mapping those might be a bit weird. They correspond to the religious affiliation questions.

In [11]:
#df[df['Q6_other'].isna()==False][['Q6','Q6_other']]
q6_idx = df[df['Q6_other'].isna()==False][['Q6','Q6_other']].index
df.iloc[q6_idx][['Q6','Q6_other']]

        Q6                                           Q6_other
19   Other                                               Maya
25   Other                       "pentecostal" spanish survey
40   Other                  Catholic, Protestant, and Athiest
47   Other                                              Pagan
73   Other                                          Christian
162  Other                                 Armenian Apostolic
165  Other                                            baptist
191  Other                                           Agnostic
229  Other                                           Christan
238  Other                                           Agnostic
262  Other                                           Believer
267  Other                                          Christian
274  Other                                           agnostic
276  Other                                          Christian
314  Other                                   Eastern Orthodox
334  Other                                       Universalist
362  Other                  I believe in a higher Power "God"
368  Other                                          Christian
402  Other                                          Christian
404  Other                                          Christian
407  Other                                          Christian
446  Other  Believe there is a got but not specific to a c...
469  Other                                         Adventista
539  Other                              Apolistic Pentecostal
555  Other                                   Russian Orthodox

In [12]:
df['Q6'].unique()

array(['Protestant / Other Christian Denomination', nan, 'Catholic',
       'Atheist', 'Other', 'Buddhism', 'Judaism', 'Islam', 'Hinduism'],
      dtype=object)

Thankfully there aren't too many "Other" answers. A lot of these are Christian, which should be mapped to the "Protestant / Other Christian Denomination" category. We'll do the same for the values of:

 - "pentecostal" spanish survey
 - Catholic, Protestant, and Athiest
 - Armenian Apostolic
 - baptist
 - Eastern Orthodox
 - Adventista
 - Apolistic Pentecostal
 - Russian Orthodox

All other values we'll leave in the "Other" category, and then drop the "Q6_other" column

In [13]:
# Replace values in Q6 based on values in Q6_other
christian_list = ['Christian', '"pentecostal" spanish survey', 'Catholic, Protestant, and Athiest', 'Armenian Apostolic', 'baptist', 'Eastern Orthodox', 'Adventista', 'Apolistic Pentecostal', 'Russian Orthodox']
df.loc[df['Q6_other'].isin(christian_list), 'Q6'] = 'Protestant / Other Christian Denomination'

In [14]:
# Check our work
df.iloc[q6_idx][['Q6','Q6_other']]

,Q6,Q6_other
19,Other,Maya
25,Protestant / Other Christian Denomination,"""pentecostal"" spanish survey"
40,Protestant / Other Christian Denomination,"Catholic, Protestant, and Athiest"
47,Other,Pagan
73,Protestant / Other Christian Denomination,Christian
162,Protestant / Other Christian Denomination,Armenian Apostolic
165,Protestant / Other Christian Denomination,baptist
191,Other,Agnostic
229,Other,Christan
238,Other,Agnostic
262,Other,Believer
267,Protestant / Other Christian Denomination,Christian
274,Other,agnostic
276,Protestant / Other Christian Denomination,Christian
314,Protestant / Other Christian Denomination,Eastern Orthodox
334,Other,Universalist
362,Other,"I believe in a higher Power ""God"""
368,Protestant / Other Christian Denomination,Christian
402,Protestant / Other Christian Denomination,Christian
404,Protestant / Other Christian Denomination,Christian
407,Protestant / Other Christian Denomination,Christian
446,Other,Believe there is a got but not specific to a c...
469,Protestant / Other Christian Denomination,Adventista
539,Protestant / Other Christian Denomination,Apolistic Pentecostal
555,Protestant / Other Christian Denomination,Russian Orthodox

In [15]:
# Drop Q6_other
df = df.drop(['index','Q6_other'], axis=1)

In [16]:
df.columns

Index(['UserLanguage', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9',
       'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19',
       'Q20'],
      dtype='object')

Q5 and Q17 are "select all that apply" questions, so I'll expect a lot of variance in the replies.

In [17]:
display(df['Q5'].unique())
display(df['Q17'].unique())

array(['Black or African American,American Indian or Alaska Native', nan,
       'Asian', 'Hispanic or Latino/a', 'White',
       'Native Hawaiian or Pacific Islander',
       'White,Black or African American', 'White,Hispanic or Latino/a',
       'American Indian or Alaska Native', 'Black or African American',
       'Black or African American,Hispanic or Latino/a',
       'White,Hispanic or Latino/a,Asian,Native Hawaiian or Pacific Islander',
       'Other',
       'Black or African American,American Indian or Alaska Native,Other',
       'White,American Indian or Alaska Native', 'White,Asian',
       'White,Black or African American,American Indian or Alaska Native',
       'Hispanic or Latino/a,Asian',
       'Hispanic or Latino/a,American Indian or Alaska Native',
       'White,Black or African American,Hispanic or Latino/a',
       'Black or African American,Native Hawaiian or Pacific Islander',
       'White,Native Hawaiian or Pacific Islander', 'Asian,Other'],
      dtype=object)

array([nan,
       "Rhode Island Secretary of State's Website,Social Media,Friends/Family",
       'Friends/Family', 'Social Media',
       "Rhode Island Secretary of State's Website",
       "Rhode Island Secretary of State's Website,Social Media,Religious/Community Organizations",
       'The Voter Information Handbook sent to my house',
       'Social Media,Friends/Family', 'Religious/Community Organizations',
       'The Voter Information Handbook sent to my house,Friends/Family',
       "Rhode Island Secretary of State's Website,The Voter Information Handbook sent to my house,Friends/Family",
       "Rhode Island Secretary of State's Website,The Voter Information Handbook sent to my house,Social Media",
       "Rhode Island Secretary of State's Website,211 Voter Hotline,Friends/Family",
       "Rhode Island Secretary of State's Website,Social Media",
       'The Voter Information Handbook sent to my house,Social Media,Friends/Family',
       '211 Voter Hotline,The Voter Information Handbook sent to my house,Social Media',
       "Rhode Island Secretary of State's Website,The Voter Information Handbook sent to my house,Social Media,Friends/Family",
       'The Voter Information Handbook sent to my house,Social Media',
       "Rhode Island Secretary of State's Website,The Voter Information Handbook sent to my house",
       '211 Voter Hotline',
       'Social Media,Friends/Family,Religious/Community Organizations',
       "Rhode Island Secretary of State's Website,The Voter Information Handbook sent to my house,Social Media,Friends/Family,Religious/Community Organizations",
       'The Voter Information Handbook sent to my house,Friends/Family,Religious/Community Organizations',
       "Rhode Island Secretary of State's Website,Social Media,Friends/Family,Religious/Community Organizations",
       "Rhode Island Secretary of State's Website,211 Voter Hotline",
       "Rhode Island Secretary of State's Website,Friends/Family",
       "Rhode Island Secretary of State's Website,211 Voter Hotline,The Voter Information Handbook sent to my house,Friends/Family",
       "Rhode Island Secretary of State's Website,The Voter Information Handbook sent to my house,Friends/Family,Religious/Community Organizations",
       '211 Voter Hotline,Social Media,Friends/Family',
       'Friends/Family,Religious/Community Organizations',
       'Social Media,Religious/Community Organizations',
       "Rhode Island Secretary of State's Website,211 Voter Hotline,The Voter Information Handbook sent to my house,Social Media,Friends/Family,Religious/Community Organizations",
       '211 Voter Hotline,Social Media',
       "Rhode Island Secretary of State's Website,211 Voter Hotline,Social Media,Religious/Community Organizations",
       "Rhode Island Secretary of State's Website,211 Voter Hotline,The Voter Information Handbook sent to my house,Social Media,Friends/Family",
       'The Voter Information Handbook sent to my house,Social Media,Friends/Family,Religious/Community Organizations'],
      dtype=object)

A lot of the values in these columns are actually multiple values separated by a comma, all in the same cell. We need to figure out how to separate these out into separate columns so we can properly encode them.

In [18]:
df['Q5']\
    .str.split(',', expand=True)\
    .stack(future_stack=True)\
    .str.get_dummies()\
    .groupby(level=0).sum()

,American Indian or Alaska Native,Asian,Black or African American,Hispanic or Latino/a,Native Hawaiian or Pacific Islander,Other,White
0,1,0,1,0,0,0,0
1,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...
553,0,0,0,0,0,1,0
554,0,0,0,0,0,0,1
555,0,0,0,0,0,0,1
556,0,0,0,1,0,0,0
557,0,0,0,0,0,0,1

In [19]:
df['Q17']\
    .str.split(',', expand=True)\
    .stack(future_stack=True)\
    .str.get_dummies()\
    .groupby(level=0).sum()

,211 Voter Hotline,Friends/Family,Religious/Community Organizations,Rhode Island Secretary of State's Website,Social Media,The Voter Information Handbook sent to my house
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,1,0,1,1,0
3,0,1,0,0,0,0
4,0,1,0,1,1,0
...,...,...,...,...,...,...
553,0,0,0,1,0,0
554,0,0,0,1,0,0
555,0,1,0,0,0,0
556,0,1,0,0,1,0
557,0,0,0,1,0,0

Now to apply it with the rest of our column encodings:

In [20]:
#df['Q2'].str.get_dummies().add_prefix('Q2_')
transformed_data = pd.DataFrame(df['Q1'])

for i in range(2,len(df.columns)): 
    column = 'Q' + str(i)
    if (i != 5 and i != 17):
        sub_df = df[column].str.get_dummies().add_prefix(column+"_")

    else:
        sub_df = df[column]\
        .str.split(',', expand=True)\
        .stack(future_stack=True)\
        .str.get_dummies()\
        .groupby(level=0).sum().add_prefix(column+"_")

    transformed_data = pd.concat([transformed_data, sub_df], axis=1)
display(transformed_data)

,Q1,Q2_18-24,Q2_25-29,Q2_30-39,Q2_40-49,Q2_50-64,Q2_65 or older,Q3_Female,Q3_Male,Q3_Non-binary / Other,...,Q19_Definitely,Q19_Definitely Not,Q19_I would need more information to make a decision,Q19_Probably,Q19_Probably Not,Q20_Definitely,Q20_Definitely Not,Q20_I would need more information to make a decision,Q20_Probably,Q20_Probably Not
0,5,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
1,15,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
2,9,0,0,0,1,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
3,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
4,3,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,5,0,0,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
554,5,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
555,5,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
556,5,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
557,5,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0

In [21]:
display(transformed_data.columns)

Index(['Q1', 'Q2_18-24', 'Q2_25-29', 'Q2_30-39', 'Q2_40-49', 'Q2_50-64',
       'Q2_65 or older', 'Q3_Female', 'Q3_Male', 'Q3_Non-binary / Other',
       ...
       'Q19_Definitely', 'Q19_Definitely Not',
       'Q19_I would need more information to make a decision', 'Q19_Probably',
       'Q19_Probably Not', 'Q20_Definitely', 'Q20_Definitely Not',
       'Q20_I would need more information to make a decision', 'Q20_Probably',
       'Q20_Probably Not'],
      dtype='object', length=118)

To get it ready for GIS work, we need to aggregate all the data by ward. In the end, we want each row to represent a ward, and each column to represent a sum.

In [25]:
grouped_data = transformed_data.groupby(by='Q1', as_index=False).sum()
display(grouped_data.head())

,Q1,Q2_18-24,Q2_25-29,Q2_30-39,Q2_40-49,Q2_50-64,Q2_65 or older,Q3_Female,Q3_Male,Q3_Non-binary / Other,...,Q19_Definitely,Q19_Definitely Not,Q19_I would need more information to make a decision,Q19_Probably,Q19_Probably Not,Q20_Definitely,Q20_Definitely Not,Q20_I would need more information to make a decision,Q20_Probably,Q20_Probably Not
0,1,15,24,15,7,9,10,45,32,3,...,63,2,4,7,2,31,6,14,15,12
1,11,1,3,6,5,6,2,16,7,0,...,16,0,1,1,3,6,1,8,6,0
2,12,1,2,9,4,5,6,11,16,0,...,14,0,6,6,1,13,3,5,5,1
3,14,4,3,9,7,9,4,20,15,0,...,20,2,8,2,4,12,4,8,8,4
4,15,5,4,13,3,2,0,15,11,1,...,15,3,2,4,2,11,3,2,8,2

Now to join it with our GIS data

In [27]:
import geopandas as gpd
# Loading in GIS shape files
gdf_pvd = gpd.read_file("../data/BND_PVD_Wards_2022.shp")
gdf_pvd

,ID,DISTRICT,DISTRICTN,Shape_STAr,Shape_STLe,geometry
0,1,1,1.0,4.626871e+07,37132.487547,"POLYGON ((353880.285 269409.163, 354275.176 26..."
1,2,2,2.0,6.857744e+07,45920.952108,"POLYGON ((353740.517 269601.048, 353659.443 26..."
2,3,3,3.0,3.952432e+07,33051.393756,"POLYGON ((352200.695 272587.857, 352185.706 27..."
3,4,4,4.0,4.590033e+07,37093.253292,"POLYGON ((350897.885 273804.377, 350888.071 27..."
4,5,5,5.0,4.342423e+07,37105.452695,"POLYGON ((341271.842 272989.464, 341151.392 27..."
5,6,6,6.0,2.091428e+07,25538.226701,"POLYGON ((341072.364 272964.21, 341151.392 272..."
6,7,7,7.0,2.983633e+07,30271.723284,"POLYGON ((335779.467 269938.082, 335904.304 26..."
7,8,8,8.0,3.567477e+07,39440.578601,"POLYGON ((349492.58 256111.482, 349458.761 256..."
8,9,9,9.0,3.798385e+07,38994.863784,"POLYGON ((352102.808 251083.51, 352075.79 2510..."
9,10,10,10.0,6.951750e+07,46448.983800,"POLYGON ((363622.874 254988.804, 363553.576 25..."
10,11,11,11.0,3.199302e+07,27702.548389,"POLYGON ((351227.874 261975.2, 351115.2 262319..."
11,12,12,12.0,2.799678e+07,32525.697208,"POLYGON ((344897.215 270074.402, 344812.718 27..."
12,13,13,13.0,2.681203e+07,26122.731975,"POLYGON ((344269.539 264891.109, 344279.775 26..."
13,14,14,14.0,2.632960e+07,28610.798359,"POLYGON ((346817.996 274470.889, 346591.433 27..."
14,15,15,15.0,2.311514e+07,29635.792060,"POLYGON ((341718.39 266653.541, 342051.21 2667..."

In [31]:
# Merging the dataframes
gis_data = gdf_pvd.merge(grouped_data, left_on='DISTRICT', right_on='Q1')
gis_data

,ID,DISTRICT,DISTRICTN,Shape_STAr,Shape_STLe,geometry,Q1,Q2_18-24,Q2_25-29,Q2_30-39,...,Q19_Definitely,Q19_Definitely Not,Q19_I would need more information to make a decision,Q19_Probably,Q19_Probably Not,Q20_Definitely,Q20_Definitely Not,Q20_I would need more information to make a decision,Q20_Probably,Q20_Probably Not
0,1,1,1.0,4.626871e+07,37132.487547,"POLYGON ((353880.285 269409.163, 354275.176 26...",1,15,24,15,...,63,2,4,7,2,31,6,14,15,12
1,3,3,3.0,3.952432e+07,33051.393756,"POLYGON ((352200.695 272587.857, 352185.706 27...",3,7,11,21,...,49,3,3,9,4,18,6,13,24,7
2,5,5,5.0,4.342423e+07,37105.452695,"POLYGON ((341271.842 272989.464, 341151.392 27...",5,5,4,29,...,46,9,7,11,6,25,4,17,20,13
3,6,6,6.0,2.091428e+07,25538.226701,"POLYGON ((341072.364 272964.21, 341151.392 272...",6,7,13,16,...,34,10,6,11,4,17,8,13,17,11
4,7,7,7.0,2.983633e+07,30271.723284,"POLYGON ((335779.467 269938.082, 335904.304 26...",7,0,0,0,...,6,0,1,4,1,6,2,3,1,0
5,8,8,8.0,3.567477e+07,39440.578601,"POLYGON ((349492.58 256111.482, 349458.761 256...",8,10,8,17,...,43,9,12,14,7,28,7,17,23,8
6,9,9,9.0,3.798385e+07,38994.863784,"POLYGON ((352102.808 251083.51, 352075.79 2510...",9,9,1,6,...,29,2,3,6,1,24,0,5,9,3
7,11,11,11.0,3.199302e+07,27702.548389,"POLYGON ((351227.874 261975.2, 351115.2 262319...",11,1,3,6,...,16,0,1,1,3,6,1,8,6,0
8,12,12,12.0,2.799678e+07,32525.697208,"POLYGON ((344897.215 270074.402, 344812.718 27...",12,1,2,9,...,14,0,6,6,1,13,3,5,5,1
9,14,14,14.0,2.632960e+07,28610.798359,"POLYGON ((346817.996 274470.889, 346591.433 27...",14,4,3,9,...,20,2,8,2,4,12,4,8,8,4
10,15,15,15.0,2.311514e+07,29635.792060,"POLYGON ((341718.39 266653.541, 342051.21 2667...",15,5,4,13,...,15,3,2,4,2,11,3,2,8,2

Export the data sets

In [32]:
transformed_data.to_csv('../data/transformed_data.csv', index=False)
grouped_data.to_csv('../data/grouped_data.csv', index=False)
gis_data.to_csv('../data/gis_data.csv', index=False)